/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-image: url("../img/sfondo.png");
  background-repeat: cover;
  background-size: 100%;
  padding: 2em;
  font-family: "Poppins", sans-serif;
  size: 100%;
}
/* HEADER */
#section-header {
  background-color: #0099bb;
  text-align: center;
  color: white;
  padding: 1.5em 0em;
  font-weight: 500;
}
header p {
  margin: 1.4em;
}
/* MAIN */
main {
  background-color: white;
  padding: 1em 1em;
  margin: 1em 0em;
  border-left: 0.1px solid #ddddde;
  border-right: 0.1px solid #ddddde;
}
h2 {
  font-weight: 500;
  margin: 1em;
}
#credits {
  color: gray;
  margin: 1em;
}
main span {
  color: #aa2072;
  font-weight: 550;
}
.paragraph {
  margin: 1em;
}
/* ELEMENTI NEL MAIN - ARTICLE */
li span {
  color: black;
  font-weight: 400;
  border: 1px solid #908e8f;
  background-color: #ddddde;
  border-radius: 5px;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  background: #005566;
  background:
    90deg,
    rgba(0, 85, 102, 1) 0%;
  color: white;
  margin: 2em 0em;
  padding: 4em 0em;
  text-align: center;
  vertical-align: center;
}
#blogepicode {
    
}

